.banner__right{
    position: relative;
    min-width: 630px;
    height: 630px;

}

.banner__img{
    z-index: -200;
    position: absolute;
    background: url('../assets/img/6739078.svg') no-repeat;
    height: 630px;
    width: 630px;
    object-fit: cover;
    animation: updown 3s linear infinite;
}

@keyframes updown {
  0%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}

.banner__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__left{
    min-width: 50%;
    .banner__welcome{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.5rem;
      color: beige;
      .handIcon{
        width: 30px;
        height: 30px;
        animation: rotateIcon 2s linear infinite;

      }
    }
    @keyframes rotateIcon {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(30deg); 
        }
        50% {
            transform: rotate(0deg); 
        }
        75% {
            transform: rotate(-30deg);
        }
        100% {
            transform: rotate(0deg); 
        }
      }
      
    .banner__title{
        margin-top: 30px;
        font-size: 3rem;
        font-family: 'Kode', sans-serif;
        line-height: 80px;
        .banner__jobs{
            border-right: 3px solid white;
            animation: hideShow 1s linear infinite; 
          }
      }
      .banner__description{
        margin-top: 30px;
        font-size: 1.3rem;
        line-height: 30px;
        font-family: 'Roboto', sans-serif;
      }
      @keyframes hideShow {
        50% {
            border-right:  none;
        }
        100% {
            border-right: 3px solid white;
        }
      } 
}

.banner{
    padding: 100px 0 50px;
}

.wrapper{
    padding: 0px 25px;
    max-width: 1640px;
    margin: 0 auto;
}