@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.woff2') format("woff2");
}
@font-face {
    font-family: "JacquardaBastard";
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/JacquardaBastarda9-Regular.woff2') format("woff2");
}
@font-face {
    font-family: "Kode";
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/KodeMono-VariableFont_wght.woff2') format("woff2");
}